*{
  margin: 0;
  padding: 0;
}
body{

  margin: 0px;
  font-family: sans-serif;
  color: #927500;
  font-size: 17px;
  line-height: 1.6;
  l

}
#showcase{
  background-image: url(apple.jpg);
  height: 100vh;
  background-size:cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;

}
#showcase h1{
  font-size: 50px;
  line-height: 1.2;
}
#showcase p{
  font-size: 20px;
}
#showcase .button{
  font-size: 18px;
  text-decoration: none;
  color: #927500;
  padding: 10px 20px;
  border: 5px #927500 soild;

  border-radius: 10px;

  margin-top: 20px;
}
#showcase .button:hover{
  background: #927500;
  color: #fff;
}
#seaction-a{
 padding: 20px;
 background:#927500;
 color: #fff;
 text-align: center;
}
#seaction-b{
 padding: 20px;
 background:#f4f4f4;
 text-align: center;
}
#seaction-c{
 display: flex;
}
#section-c div{
  padding: 20px;
  text-align: center;
}
#section-c .box1,#section-c .box3{
  background: #926239;
  color: #fff;
}
#section-c .box2{
  background: #f9f9f9;
}
